* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */

header nav {
    background-color: #303C4B;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.brandSpan {
    color: #77B6EA
}

/* MAIN */

/* ABOUT ME */
.aboutMeSection{
    background-color: #303C4B;
    color: white;
}

.profilePicture {
    height: 80%;
    width: 50%;
}

.aboutMeText {
    text-align: justify;
}


/* PORTFOLIO */

.card-img-top {
    width: 70%;
}