//_typography
$font-family: 'Roboto', sans-serif;

//_header
$nav-bg-color: #303C4B;
$navbar-brand-font-size: 34px;
$navbar-brand-font-weight: bold;
$brandSpan-color: #77B6EA;

//_index
$background-color: #303C4B;
$text-color: white;

//footer
$footer-bg-color: #303C4B;
$footer-text-color: white;
$footer-icon-size: 30px;

//about-me-page
$img-picture-width: 70%;
$person-picture-height: 500px;
$person-picture-width: 200px;

//portfolio_page
$box-shadow-color: rgba(0, 0, 0, 0.24);
$box-shadow-offset-y: 3px;
$box-shadow-blur-radius: 8px;

$web-preview-image-width: 50%;
$link-icon-width: 30px;
$link-icon-height: 30px;