.aboutMeSection {
    background-color: $background-color;
    color: $text-color;

    .profilePicture {
        animation: entrada 1.3s;
        border-radius: 50%;
    }

    @keyframes entrada {
        0% {
        opacity: 0;
        transform: rotate(60deg);
        }

        100% {
        transform: translate(0);
        opacity: 1;
        }
    }

    .aboutMeText {
        text-align: center;
    }
}

.card-img-top {
    width: 70%;

    &:hover {
        @include shake-animation;
        @include hover-opacity;
    }
}