.portfolioCard {
    box-shadow: $box-shadow-color 0px $box-shadow-offset-y $box-shadow-blur-radius;
    display: flex;
    flex-direction: column;
    align-items: center;

    .portfolioTitleContainer {
        display: flex;
        justify-content: center;
    }

    .webPreviewPortfolioContainer {
        display: flex;
        justify-content: center;

        .webPreviewImagePortfolio {
        width: $web-preview-image-width;
        }
    }

    .linkContainer {
        margin: 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .linkIcon {
            width: $link-icon-width;
            height: $link-icon-height;
            margin: 0 50px 10px 50px;

            &:hover {
                @include shake-animation;
                @include hover-opacity;
            }
        }
    }   
}

.textDescription {
    text-align: justify;
}