header {
    nav {
        background-color: $nav-bg-color;
    }

    .navbar-brand {
        font-size: $navbar-brand-font-size;
        font-weight: $navbar-brand-font-weight;
    }

    .brandSpan {
        color: $brandSpan-color;
    }
}